@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
.slick-loading .slick-list {
  background: #fff url('../img/main/ajax-loader.gif') center center no-repeat;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Icons */
}
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick.eot');
  src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: url("../img/main/slider-arrow-left.svg");
}
[dir="rtl"] .slick-prev:before {
  content: url("../img/main/slider-arrow-right.svg");
}
.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: url("../img/main/slider-arrow-right.svg");
}
[dir="rtl"] .slick-next:before {
  content: url("../img/main/slider-arrow-left.svg");
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: url("../img/main/slider-circle.svg");
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
@font-face {
  font-family: "Mulish";
  font-weight: 300;
  src: url("../fonts/Mulish-Light.ttf");
}
@font-face {
  font-family: "Mulish";
  font-weight: 400;
  src: url("../fonts/Mulish-Regular.ttf");
}
@font-face {
  font-family: "Mulish";
  font-weight: 700;
  src: url("../fonts/Mulish-Bold.ttf");
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  width: 1247px;
  max-width: 100%;
  margin: 0 auto;
}
body {
  font-family: "Mulish", sans-serif;
}
.btn {
  border: 2px solid #458FF6;
  padding: 18px 40px;
  border-radius: 55px;
  color: #458FF6;
  background: #fff;
  margin-top: 72px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
.btn img {
  vertical-align: middle;
  padding-left: 15px;
}
.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#67C3F3), to(#f5fbfe));
  background: -o-linear-gradient(#67C3F3, #f5fbfe);
  background: linear-gradient(#67C3F3, #f5fbfe);
}
.btn-bg {
  cursor: pointer;
  margin-top: 48px;
  background: #458FF6;
  color: white;
  font-weight: bold;
  padding: 18px 40px;
  border-radius: 55px;
  font-size: 18px;
  font-weight: 700;
}
.btn-bg:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#458FF6), to(#031a39));
  background: -o-linear-gradient(#458FF6, #031a39);
  background: linear-gradient(#458FF6, #031a39);
}
.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.leading-providers .title,
.download .title,
.reviews .title,
.our-services .title,
.last-article .title {
  font-weight: bold;
  font-size: 36px;
}
.leading-providers .title-hr::after,
.download .title-hr::after,
.reviews .title-hr::after,
.our-services .title-hr::after,
.last-article .title-hr::after {
  margin: 25px 0;
}
.leading-providers .description,
.download .description,
.reviews .description,
.our-services .description,
.last-article .description {
  color: #7D7987;
  font-size: 18px;
  line-height: 30px;
}
.title-hr::after {
  content: "";
  width: 56px;
  height: 2px;
  background: #000;
  display: block;
  margin: 25px auto;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 850px) {
  .header {
    display: block;
    margin: 0;
  }
}
.header__logo {
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .header__logo {
    text-align: center;
    margin: 30px 0;
  }
}
.header__nav a {
  text-decoration: none;
  color: #7D7987;
  margin-right: 40px;
  font-size: 18px;
}
.header__nav a:hover {
  color: black;
}
@media screen and (max-width: 850px) {
  .header__nav a {
    margin: 0;
  }
}
@media screen and (max-width: 850px) {
  .header__nav {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
}
.header .active {
  font-weight: bold;
  color: black;
}
.header .element {
  position: absolute;
  top: 160px;
  left: 0;
}
.virtual-healthcare,
.leading-providers,
.download {
  margin-bottom: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1250px;
  padding: 0 15px;
}
.virtual-healthcare .text-wrapper,
.leading-providers .text-wrapper,
.download .text-wrapper {
  max-width: 445px;
}
.virtual-healthcare .image img,
.leading-providers .image img,
.download .image img {
  width: 100%;
}
@media screen and (max-width: 850px) {
  .virtual-healthcare,
  .leading-providers,
  .download {
    margin-bottom: 60px;
  }
  .virtual-healthcare .text-wrapper,
  .leading-providers .text-wrapper,
  .download .text-wrapper {
    max-width: 50%;
  }
  .virtual-healthcare .title,
  .leading-providers .title,
  .download .title {
    font-size: 32px;
  }
}
.virtual-healthcare {
  margin-top: 85px;
}
.virtual-healthcare .title {
  font-size: 48px;
}
.virtual-healthcare .text-wrapper {
  margin-right: 25px;
}
.virtual-healthcare .description {
  color: #7D7987;
  margin-top: 25px;
}
.our-services {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.our-services::-webkit-scrollbar {
  width: 0;
}
.our-services > .title {
  text-align: center;
}
.our-services > .title-hr::after {
  margin: 25px auto;
}
.our-services > .description {
  font-size: 16px;
  max-width: 950px;
  margin: 0 auto 80px;
  text-align: center;
  line-height: 30px;
}
.our-services .flex-wrapper > div {
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.5);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.5);
  border-radius: 20px;
  width: 350px;
  max-width: 32%;
  padding: 50px 40px;
  background: #fff;
  margin-bottom: 35px;
}
@media screen and (max-width: 950px) {
  .our-services .flex-wrapper > div {
    padding: 20px;
  }
}
@media screen and (max-width: 800px) {
  .our-services .flex-wrapper > div {
    max-width: 48%;
  }
}
@media screen and (max-width: 580px) {
  .our-services .flex-wrapper > div {
    max-width: 200px;
    margin-right: 20px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-shadow: 0 0 10px gray;
            box-shadow: 0 0 10px gray;
  }
}
.our-services .flex-wrapper .image {
  height: 100px;
  display: table-cell;
  vertical-align: bottom;
}
.our-services .flex-wrapper .title {
  font-size: 24px;
  margin: 25px 0;
}
.our-services .flex-wrapper .description {
  font-size: 16px;
}
@media screen and (max-width: 580px) {
  .our-services .flex-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
  }
}
.our-services .btn {
  display: block;
  margin: 0 auto;
}
.our-services .bg {
  position: absolute;
  max-width: 100%;
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);
  z-index: -1;
  left: 0;
}
.our-services .bg img {
  width: 100%;
}
.leading-providers {
  margin-top: 220px;
  margin-right: auto;
  max-width: 1156px;
}
.leading-providers .text-wrapper {
  margin-left: 25px;
}
@media screen and (max-width: 850px) {
  .leading-providers {
    margin-top: 60px;
  }
}
.download {
  margin-top: 220px;
  max-width: 1156px;
  margin-left: auto;
}
@media screen and (max-width: 850px) {
  .download {
    margin-top: 60px;
  }
}
.reviews {
  background: -o-linear-gradient(241.82deg, #67C3F3 9.05%, #5A98F2 76.74%);
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 65px 10%;
  color: white;
  width: 1120px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.reviews .flex-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 850px) {
  .reviews .flex-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.reviews > .title {
  color: white;
  text-align: center;
}
.reviews > .title-hr::after {
  background: white;
  margin: 25px auto;
}
.reviews .image {
  margin-right: 30px;
  margin-bottom: 15px;
}
@media screen and (max-width: 450px) {
  .reviews .image {
    display: none;
  }
}
.reviews .description {
  color: white;
  width: 420px;
  max-width: 40%;
  font-size: 19px;
  font-weight: 300;
}
@media screen and (max-width: 850px) {
  .reviews .description {
    max-width: none;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 15px;
    text-align: center;
  }
}
.reviews .name {
  font-weight: 700;
  font-size: 22px;
}
.reviews .job {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 300;
}
@media screen and (max-width: 450px) {
  .reviews .job {
    text-align: center;
  }
}
.reviews .bg-elem {
  position: absolute;
  top: 10px;
  right: 0;
  width: 90px;
  overflow: hidden;
  -webkit-filter: sepia(1);
          filter: sepia(1);
}
.reviews .bg-elem2 {
  position: absolute;
  bottom: 20%;
  left: 0;
  margin-left: -90px;
  z-index: -1;
}
@media screen and (max-width: 850px) {
  .reviews {
    padding: 30px;
  }
}
.last-article {
  width: 1120px;
  max-width: 100%;
  margin: 220px auto 0;
  padding: 0 15px;
}
.last-article .title {
  text-align: center;
}
.last-article .title-hr::after {
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
.last-article .flex-wrapper > div {
  width: 350px;
  max-width: 32%;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  position: relative;
}
.last-article .flex-wrapper > div .image {
  display: block;
  width: 100%;
}
.last-article .flex-wrapper > div > img + div {
  padding: 25px 33px 70px;
  background: #fff;
}
@media screen and (max-width: 850px) {
  .last-article .flex-wrapper > div {
    max-width: none;
    width: 90%;
    margin: 15px auto;
  }
}
.last-article .flex-wrapper .title {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
}
.last-article .flex-wrapper .description {
  font-size: 16px;
  font-weight: 300;
  color: #7D7987;
  line-height: 28px;
  margin-top: 12px;
}
.last-article .flex-wrapper .link {
  font-weight: 700;
  color: #458FF6;
  position: absolute;
  text-decoration: none;
  bottom: 30px;
}
.last-article .flex-wrapper .link img {
  vertical-align: middle;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 10px;
}
.last-article .btn {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
}
.last-article .bg-elem {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.last-article .bg {
  position: absolute;
  margin-top: -750px;
  right: 0;
  z-index: -1;
}
.slick-list {
  border-radius: 24px;
  margin-bottom: 45px;
  cursor: -webkit-grab;
  cursor: grab;
}
.slick-dots {
  bottom: auto;
  text-align: center;
}
.slick-wrapper::before {
  content: url(../img/main/element.svg);
  -webkit-transform: translate(-40%, -50%);
      -ms-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  position: absolute;
  bottom: 0;
  display: inline-block;
}
.prev-arrow,
.next-arrow {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  margin-top: 3px;
}
.prev-arrow img,
.next-arrow img {
  display: block;
}
.prev-arrow {
  left: calc(50% - 120px);
}
.next-arrow {
  right: calc(50% - 120px);
}
.footer {
  width: 100%;
  background: -o-linear-gradient(266.59deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  padding: 110px 15px;
  color: white;
  margin-top: 200px;
}
.footer nav .title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
}
.footer nav a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
}
.footer nav a:hover {
  text-decoration: underline;
}
.footer .flex-wrapper > div:first-of-type {
  max-width: 390px;
  font-weight: 300;
}
@media screen and (max-width: 850px) {
  .footer .flex-wrapper > div:first-of-type {
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    margin-top: 30px;
  }
}
.footer .logo,
.footer .title {
  margin-bottom: 20px;
}
.footer .description {
  line-height: 28px;
}
.footer .copyright {
  margin-top: 30px;
}
@media screen and (max-width: 850px) {
  .footer {
    padding: 30px 0px;
    margin-top: 70px;
  }
}
