.virtual-healthcare,
.leading-providers,
.download {
    margin-bottom: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    padding: 0 @paddingLeftRight;

    .text-wrapper {
        max-width: 445px;

        @media screen and (max-width: 500px) {
        text-align: center;
        text-shadow: 0 0 10px white;
        }
    }

    .image {

        img {
            width: 100%;
        }

        @media screen and (max-width: 500px) {
        position: absolute;
        z-index: -1;
        opacity: 0.5;
        }
    }

    @media screen and (max-width: 850px) {
        margin-bottom: 60px;

        .title {
            font-size: 32px;
        }
    }
}

.virtual-healthcare {
    margin-top: 85px;

    .title {
        font-size: 48px;

        @media screen and (max-width: 768px) {
        font-size: 32px;
        }
    }

    .text-wrapper {
        margin-right: 25px
    }

    .description {
        color: @secondary-color;
        margin-top: 25px;
        font-size: 21px;

        @media screen and (max-width: 500px) {
            color: darken(@secondary-color, 30%);
            }
    }
}

.our-services {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 @paddingLeftRight;

    &::-webkit-scrollbar{
        width: 0;
    }

    >.title {
        text-align: center;

        &-hr::after {
            margin: 25px auto;
        }
    }

    >.description {
        font-size: 16px;
        max-width: 950px;
        margin: 0 auto 80px;
        text-align: center;
        line-height: 30px;
        padding: 0 10px;
    }

    .flex-wrapper {

        >div {
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.5);
            border-radius: 20px;
            width: 350px;
            max-width: 32%;
            padding: 50px 40px;
            background: #fff;
            margin-bottom: 35px;

            @media screen and (max-width: 950px) {
                padding: 20px;
            }

            @media screen and (max-width: 800px) {
                max-width: 48%;
            }

            @media screen and (max-width: 580px) {
                max-width: 250px;
                margin-right: 20px;
                flex-shrink: 0;
                box-shadow: 0 0 10px gray;
            }
        }

        .image {
            height: 100px;
            display: table-cell;
            vertical-align: bottom;
        }

        .title {
            font-size: 24px;
            margin: 25px 0;
        }

        .description {
            font-size: 16px;
        }

        @media screen and (max-width: 580px) {

            &::-webkit-scrollbar{
                display: none;
            }

            &::after{
                content: "";
                display: block;
                width: 1px;
                flex-shrink: 0;
            }

            flex-wrap: nowrap;
            overflow-x: scroll;
            padding: 10px 20px;
        }

    }

    .btn {
        display: block;
        margin: 0 auto;
    }

    .bg {
        position: absolute;
        max-width: 100%;
        transform: translateY(-150%);
        z-index: -1;
        left: 0;

        img {
            width: 100%;
        }
    }

    @media screen and (max-width: 580px) {
    padding: 0;
    }
}

.leading-providers {
    margin-top: 220px;
    margin-right: auto;
    max-width: 1250px;

    .text-wrapper {
        margin-left: 25px;
    }

    @media screen and (max-width: 850px) {
        margin-top: 60px;
    }
}

.download {
    margin-top: 220px;
    max-width: 1156px;
    margin-left: auto;


    @media screen and (max-width: 850px) {
        margin-top: 60px;
    }
}

.reviews {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 65px 10%;
    color: white;
    width: 1120px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;


    .flex-wrapper {
        align-items: center;

        @media screen and (max-width: 850px) {
            justify-content: center;
        }
    }

    >.title {
        color: white;
        text-align: center;

        &-hr::after {
            background: white;
            margin: 25px auto;
        }
    }

    .image {
        margin-right: 30px;
        margin-bottom: 15px;

        @media screen and (max-width: 450px) {
            display: none;
        }
    }

    .description {
        color: white;
        width: 420px;
        max-width: 40%;
        font-size: 19px;
        font-weight: 300;

        @media screen and (max-width: 850px) {
            max-width: none;
            flex-grow: 1;
            margin-top: 15px;
            text-align: center;
        }
    }

    .name {
        font-weight: 700;
        font-size: 22px;
    }

    .job {
        font-size: 18px;
        margin-top: 15px;
        font-weight: 300;

        @media screen and (max-width: 450px) {
            text-align: center;
        }
    }

    .bg-elem {
        position: absolute;
        top: 10px;
        right: 0;
        width: 90px;
        overflow: hidden;
        filter: sepia(1);
    }

    .bg-elem2 {
        position: absolute;
        bottom: 20%;
        left: 0;
        margin-left: -90px;
        z-index: -1;
    }

    @media screen and (max-width: 850px) {
        padding: 30px;
    }
}

.last-article {
    width: 1120px;
    max-width: 100%;
    margin: 220px auto 0;
    padding: 0 @paddingLeftRight;

    .title {
        text-align: center;

        &-hr::after {
            margin-bottom: 80px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .flex-wrapper {

        >div {
            display: flex;
            flex-direction: column;
            width: 350px;
            max-width: 32%;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
            position: relative;

            .image {
                display: block;
            }

            >img+div {
                padding: 25px 33px 70px;
                background: #fff;

                @media screen and (max-width: 1050px) {
                padding-left: 15px;
                padding-right: 15px;
                }
            }

            @media screen and (max-width: 1000px) {
                flex-direction: row;
                width: auto;
                max-width: none;
                box-shadow: 0 0 5px gray;
                margin-bottom: @paddingLeftRight;
            }

            @media screen and (max-width: 767px) {
            flex-direction: column;
            width: 90%;
            margin: 15px auto;
            box-shadow: 15px 0 15px lighten(@btn-clr, 30%), -15px 0 15px lighten(@btn-clr, 30%);
            }

            @media screen and (max-width: 425px) {
            width: 100%;
            }
        }


        .title {
            font-weight: 700;
            font-size: 21px;
            line-height: 32px;
        }

        .description {
            font-size: 16px;
            font-weight: 300;
            color: @secondary-color;
            line-height: 28px;
            margin-top: 12px;
        }

        .link {
            font-weight: 700;
            color: @btn-clr;
            position: absolute;
            text-decoration: none;
            bottom: 30px;

            img {
                vertical-align: middle;
                transform: rotate(-90deg);
                margin-left: 10px;
            }

            @media screen and (max-width: 1000px) {
            right: 30px;
            }
        }
    }

    .btn {
        display: block;
        margin: 0 auto;
        margin-top: 70px;
    }

    .bg-elem {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .bg {
        position: absolute;
        margin-top: -750px;
        right: 0;
        z-index: -1;
    }
}

.slick {
    &-list {
        border-radius: 24px;
        margin-bottom: 45px;
        cursor: grab;
    }

    &-dots {
        bottom: auto;
        text-align: center;
    }
}

.slick-wrapper::before {
    content: url(../img/main/element.svg);
    transform: translate(-40%, -50%);
    position: absolute;
    bottom: 0;
    display: inline-block;
}

.prev-arrow,
.next-arrow {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin-top: 3px;

    img {
        display: block;
    }
}

.prev-arrow {
    left: calc(50% - 120px);

}

.next-arrow {
    right: calc(50% - 120px);
}